/* TIMELINE */

.timeline {
    background: #ffffff; /* Cambiado de rosado a blanco */
    padding: 100px 60px;
}

.timeline-header {
    text-align: center;
    margin-bottom: 60px;
}

.timeline-header h2 {
    color: var(--verde);
    letter-spacing: 4px;
}

.timeline-header p {
    font-size: 36px;
    font-weight: bold;
    color: var(--azul);
}

/* LINEA CENTRAL */

.timeline-line {
    height: 4px;
    background: var(--amarillo);
    width: 100%;
    margin-bottom: 60px;
}

/* CONTENEDOR */

.timeline-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* ITEM */

.timeline-item {
    position: relative;
    width: 180px;
}

/* PUNTO */

.timeline-dot {
    width: 18px;
    height: 18px;
    background: var(--amarillo);
    border-radius: 50%;
    margin: 0 auto 20px;
    box-shadow: 0 0 0 6px white;
}

/* CONTENIDO */

.timeline-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.timeline-content:hover {
    transform: translateY(-6px);
}

.timeline-content h3 {
    color: var(--verde);
    font-size: 22px;
    margin-bottom: 10px;
}

.timeline-content h4 {
    color: var(--azul);
    font-size: 16px;
}